<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Links</title>
    <link rel='stylesheet' href='css/links.css'/>
</head>
<body>
    <header>
        <span id="left">CYPRESS</span>
        <span id ="right">City of Toronto</span> 
        <br>
        <br>
        <hr>
    </header>
    <section>
        <br>
        <br>
        <div>
            <h3>QUICK LINKS >></h3>
            <form action="/links" method="POST">
                <input type="radio" value="register" name="links">Register</input><br><br>
                <input type="radio" value="login" name="links">Login</input><br><br>
                <input type="radio" value="reportAProblem" name="links">Report a Problem</input><br><br>
                <input type="radio" value="suggest" name="links">Suggest</input><br><br>
                <input type="radio" value="vote" name="links">Vote</input><br><br>
                <input type="radio" value="faq" name="links">FAQ</input><br><br>
                <input type="radio" value="contactUs" name="links">Contact Us</input><br><br>
                <button type="submit">GO</button><br>


            </form>
        </div>
        <div>
            <img id='img1' src='images/CnTower.jpeg' alt='cnTower'>
            
        </div>
        <div>
            <img id='img2' src='images/Toronto2.png' alt='cnTower'>
        </div>
        <div>
            <a href='/logout'> Logout</a>
        </div>
       
    </section>
    <div id='sec2'>
        <h1>Keeping our cities clean and safe</h1>
        <br>
        <p>FAQ</p>
    </div>
</body>
</html>