body{
    background-color: #ebebeb;
    /* text-align: left; */
}

span {
    font-size: 30px;
    text-align: left;
    font-weight: 500;
    margin: 0px;
    
}
a{
    float: right;
}
#left{
    float: left;
}

#right{
    float: right;
}

button{
    margin: 10px 30px;
}